# Configuracion para generate-compose.sh

# Ruta del archivo docker-compose
OUTPUT_FILE=docker-compose.yaml

# Cantidad de clientes (agencias)
CLIENTS=5

# Cantidad de apuestas por lote que envia c/cliente
BATCH_SIZE=100

# Minimo de agencias que el servidor espera antes de realizar el sorteo.
# Si se omite, toma por defecto el valor de CLIENTS (espera a todas)
AGENCY_QUORUM_MIN=5
